<h1>Hello <%= currentUser.NAME %></h1>
<h2>Bank account :</h2>

<div style="display: flex; gap: 0.5rem">
  <span><%= accounts.NAME %></span>
  <span><%= accounts.AMOUNT %>$</span>
  </br>
  <span>Nbr de transactions : </span>
  <span><%= accounts.NBRTRANSACTIONS %></span>

</div>

<form id="transactionForm" style="display: flex;" action="/accounts/1/1/transactions" method="post">
    <label for="name">Nom</label>
    <input type="text" id="name" name="name">
    <label for="amount">Montant</label>
    <input type="number" id="amount" name="amount">
    <div>
        <label>
            <input type="radio" name="type" value="0" required>
            Retrait
        </label>
        <label>
            <input type="radio" name="type" value="1" required>
            Dépôt
        </label>
    </div>
    <input type="hidden" id="account_id" name="account_id" value="<%= accounts.ID %>">
    <button type="submit">Effectuer transaction</button>
</form>

<% transactions.forEach(function(transaction){ %>
    <div style="display: flex; gap: 0.5rem">
      <span><%= transaction.NAME %></span>
      <span><%= transaction.AMOUNT %>$</span>
    </div>
    <% }); %>
